
            @import url(card-fonts.css);</style>
        </style>
        
            [_nghost-cif-c65] {
                display: block
            }

            .routeContainer[_ngcontent-cif-c65] {
                min-height: calc(100vh - 80px)
            }
       
        
            [_nghost-cif-c61] {
                padding-top: 80px;
                display: flex;
                position: relative
            }

            .showAlertBar[_nghost-cif-c61] {
                padding-top: calc(130px)
            }

            .headerContainer[_ngcontent-cif-c61] {
                position: fixed;
                z-index: 22;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                flex-direction: column
            }

            .headerContainer__headerAlertBar[_ngcontent-cif-c61] {
                height: 100%;
                width: 100%
            }

            .headerContainer__headerAlertBar--announcePeriod[_ngcontent-cif-c61] {
                display: flex;
                align-items: center;
                justify-content: center
            }

            .headerContainer__headerAlertBar__icon[_ngcontent-cif-c61] {
                display: inline-flex;
                margin-right: 16px;
                font-size: 28px
            }

            .headerContainer__headerAlertBar__extraText[_ngcontent-cif-c61], .headerContainer__headerAlertBar__extraCTA[_ngcontent-cif-c61] {
                display: none;
                margin-left: 4px
            }

            .headerContainer__headerAlertBar__cta[_ngcontent-cif-c61] {
                margin-left: 24px
            }

            .headerContainer__headerAlertBar__cta__extraText[_ngcontent-cif-c61] {
                display: none;
                margin-left: 4px
            }

            @media screen and (min-width: 512px) {
                .headerContainer__headerAlertBar__cta__extraText[_ngcontent-cif-c61] {
                    display:inline
                }

                .headerContainer__headerAlertBar__icon[_ngcontent-cif-c61] {
                    margin-right: 4px
                }

                .header__lineBreak[_ngcontent-cif-c61] {
                    display: none
                }
            }

            @media screen and (min-width: 768px) {
                .headerContainer__headerAlertBar__extraText[_ngcontent-cif-c61], .headerContainer__headerAlertBar__extraCTA[_ngcontent-cif-c61] {
                    display:inline
                }
            }
       
        
            [_nghost-cif-c75] {
                display: flex;
                flex-flow: column nowrap
            }

            .sectionBackground[_ngcontent-cif-c75] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%
            }

            .sectionBackground__img[_ngcontent-cif-c75] {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover
            }

            .ifYouCantSellSection[_ngcontent-cif-c75] {
                padding: 0 24px;
                background: #0a0a0a;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                z-index: 1
            }

            .ifYouCantSellSection[_ngcontent-cif-c75]:after {
                content: "";
                border: 32px solid transparent;
                border-bottom-width: 0px;
                border-top-color: #0a0a0a;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,100%)
            }

            .ifYouCantSellSection__innerContainer[_ngcontent-cif-c75] {
                align-self: stretch
            }

            .ifYouCantSellSection__heading[_ngcontent-cif-c75] span {
                background: linear-gradient(to bottom,#FFF2D8 0%,#C6A052 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent
            }

            .ifYouCantSellSection__heading[_ngcontent-cif-c75], .ifYouCantSellSection__statsArea[_ngcontent-cif-c75], .ifYouCantSellSection__footerText[_ngcontent-cif-c75], .ifYouCantSellSection__bottomDivider[_ngcontent-cif-c75] {
                position: relative
            }

            .ifYouCantSellSection__statsArea[_ngcontent-cif-c75] {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 0 24px
            }

            .ifYouCantSellSection__statsArea__stat[_ngcontent-cif-c75] {
                max-width: 400px;
                width: 80%;
                margin: 0 auto;
                position: relative;
                background: rgba(246,246,246,.1);
                border: 1px solid rgba(215,215,215,.5);
                padding: 16px 16px 20px
            }

            .ifYouCantSellSection__statsArea__spacer[_ngcontent-cif-c75] {
                transform: rotate(90deg);
                width: 28px;
                display: block
            }

            .ifYouCantSellSection__bottomDivider[_ngcontent-cif-c75] {
                width: 90%;
                max-width: 450px
            }

            @media only screen and (min-width: 512px) {
                .ifYouCantSellSection__statsArea__stat[_ngcontent-cif-c75]:before {
                    user-select:none;
                    pointer-events: none;
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 1px solid transparent;
                    border-left-color: #d7d7d7;
                    border-bottom-color: #d7d7d7;
                    opacity: .35;
                    left: -8px;
                    bottom: -8px
                }
            }

            @media only screen and (min-width: 768px) {
                .ifYouCantSellSection__statsArea[_ngcontent-cif-c75] {
                    flex-direction:row;
                    align-items: stretch;
                    padding: 52px 0 60px
                }

                .ifYouCantSellSection__statsArea__stat[_ngcontent-cif-c75] {
                    margin: 0;
                    width: 50%
                }

                .ifYouCantSellSection__statsArea__spacer[_ngcontent-cif-c75] {
                    transform: rotate(0);
                    margin: 0 20px 0 24px
                }
            }

            @media only screen and (min-width: 960px) {
                .ifYouCantSellSection__statsArea[_ngcontent-cif-c75] {
                    padding:72px 0
                }
            }

            @media only screen and (min-width: 1200px) {
                .ifYouCantSellSection__heading[_ngcontent-cif-c75] br[_ngcontent-cif-c75] {
                    display:none
                }
            }

            .trueOwnershipSection[_ngcontent-cif-c75] {
                background: #f6f6f6;
                position: relative;
                padding: 0 24px
            }

            .trueOwnershipSection__trailerContainer[_ngcontent-cif-c75] {
                max-width: 750px;
                width: 80%;
                position: relative;
                border: 4px solid transparent;
                border-image-source: linear-gradient(to bottom,#FFFDF0 0%,#FBEBC1 14%,#E6C675 25%,#F6DF6E 40%,#B27E18 60%,#DEAB61 73%,#A67B4B 85%,#664320 100%);
                border-image-slice: 1;
                background: linear-gradient(to bottom,#FFFDF0 0%,#FBEBC1 14%,#E6C675 25%,#F6DF6E 40%,#B27E18 60%,#DEAB61 73%,#A67B4B 85%,#664320 100%)
            }

            .trueOwnershipSection__trailerContainer[_ngcontent-cif-c75]:before {
                content: "";
                display: block;
                padding-bottom: 56.25%
            }

            .trueOwnershipSection__trailerContainer__video[_ngcontent-cif-c75] {
                position: absolute;
                top: 0;
                left: 0
            }

            .trueOwnershipSection__innerContainer[_ngcontent-cif-c75] {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center
            }

            .trueOwnershipSection__innerContainer__bodyCopy[_ngcontent-cif-c75] {
                color: #464646;
                margin: 24px auto 36px;
                max-width: 850px
            }

            .trueOwnershipSection__bottomDivider[_ngcontent-cif-c75] {
                width: 90%;
                max-width: 450px
            }

            .trueOwnershipSection__briefAboutText[_ngcontent-cif-c75] {
                display: none;
                margin-left: auto;
                margin-right: auto;
                max-width: 850px;
                width: 100%
            }

            .trueOwnershipSection__illustratedPoints[_ngcontent-cif-c75] {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                max-width: 1060px;
                margin: 0 auto
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75] {
                width: 45%;
                max-width: 220px;
                margin-bottom: 24px;
                margin-right: 24px;
                position: relative
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:nth-child(2) {
                margin-top: 80px;
                margin-right: 0
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:nth-child(3) {
                margin-top: -80px
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:nth-child(4) {
                margin-right: 0
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:before, .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:after {
                content: "";
                background: url(assets/images/ui-embellishments/ui--small-diamond-divider.svg) center center no-repeat;
                background-size: contain;
                width: 100%;
                height: 10%;
                position: absolute;
                left: 0
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:before {
                top: 12px
            }

            .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:after {
                bottom: 12px;
                transform: rotate(180deg)
            }

            .trueOwnershipSection__illustratedPoints__point__cardFacePicture[_ngcontent-cif-c75] {
                display: block;
                width: 100%;
                background: #1d2f41;
                border-radius: 8px
            }

            .trueOwnershipSection__illustratedPoints__point__cardFacePicture__img[_ngcontent-cif-c75] {
                display: block;
                width: 100%;
                opacity: .1;
                filter: grayscale(100%)
            }

            .trueOwnershipSection__illustratedPoints__point__textContent[_ngcontent-cif-c75] {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                align-items: center
            }

            .trueOwnershipSection__illustratedPoints__point__icon[_ngcontent-cif-c75] {
                font-size: 80px;
                text-align: center
            }

            .trueOwnershipSection__bottomCtaArea[_ngcontent-cif-c75] {
                display: flex;
                justify-content: center
            }

            @media only screen and (min-width: 768px) {
                .trueOwnershipSection__innerContainer__bodyCopy[_ngcontent-cif-c75] {
                    color:#272727
                }

                .trueOwnershipSection__briefAboutText[_ngcontent-cif-c75] {
                    display: block
                }

                .trueOwnershipSection__illustratedPoints[_ngcontent-cif-c75] {
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    padding-bottom: 44px
                }

                .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75] {
                    width: 22.5%
                }

                .trueOwnershipSection__illustratedPoints__point[_ngcontent-cif-c75]:nth-child(n) {
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0
                }
            }

            .sceneLayers[_ngcontent-cif-c75] {
                position: absolute;
                width: 100%;
                height: 100%
            }

            .sceneLayers__background[_ngcontent-cif-c75] {
                display: block;
                width: 100%;
                height: 100%
            }

            .sceneLayers__background__img[_ngcontent-cif-c75] {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover
            }

            .sceneLayers__foreground[_ngcontent-cif-c75] {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%
            }

            .sceneLayers__foreground__img[_ngcontent-cif-c75] {
                display: block;
                height: 100%;
                object-fit: cover
            }

            .layeredImagerySection__textContent__heading[_ngcontent-cif-c75] {
                display: flex
            }

            .layeredImagerySection__textContent__heading__icon[_ngcontent-cif-c75] {
                margin-right: 8px
            }

            .blockQuote[_ngcontent-cif-c75] {
                background: rgba(246,246,246,.85);
                padding: 20px 60px 20px 44px;
                margin: 0;
                border: none;
                position: relative;
                text-align: left;
                box-shadow: 4px 4px 8px #0a0a0a80;
                border: 1px solid #0a0a0a;
                border-left: none
            }

            .blockQuote__sideBar[_ngcontent-cif-c75] {
                position: absolute;
                top: 0;
                right: 0;
                width: 8px;
                height: 100%;
                background: linear-gradient(to bottom,#FFF2D8 0%,#C6A052 100%);
                border-left: 1px solid #0a0a0a
            }

            .blockQuote__citeText[_ngcontent-cif-c75] {
                display: block;
                margin-top: 8px
            }

            .blockQuote__quoteMarks[_ngcontent-cif-c75]:before, .blockQuote__quoteMarks[_ngcontent-cif-c75]:after {
                content: "";
                position: absolute;
                background: url(assets/images/ui-embellishments/ui--quote-mark.svg) no-repeat center center;
                background-size: contain;
                width: 20px;
                height: 16px
            }

            .blockQuote__quoteMarks[_ngcontent-cif-c75]:before {
                left: 12px;
                top: 16px
            }

            .blockQuote__quoteMarks[_ngcontent-cif-c75]:after {
                right: 20px;
                bottom: 44px;
                transform: scaleX(-1)
            }

            .layeredImagerySection__textContent[_ngcontent-cif-c75] {
                position: relative;
                z-index: 3;
                padding: 220px 16px 60px;
                text-align: center
            }

            @media only screen and (min-width: 768px) {
                .blockQuote[_ngcontent-cif-c75] {
                    text-align:left;
                    padding-left: 52px
                }
            }

            @media only screen and (min-width: 960px) {
                .layeredImagerySection__textContent[_ngcontent-cif-c75] {
                    padding-bottom:120px
                }
            }

            .reshapingGenreSection[_ngcontent-cif-c75] {
                margin-top: -24px;
                position: relative;
                clip-path: polygon(0% 0%,calc(50% - 140px) 0%,calc(50% - 140px + 16px) 22px,calc(50% + 140px - 16px) 22px,calc(50% + 140px) 0%,100% 0%,100% 100%,0% 100%)
            }

            .sceneLayers--reshapingGenreSection[_ngcontent-cif-c75] {
                overflow: hidden
            }

            .sceneLayers--reshapingGenreSection[_ngcontent-cif-c75]:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 90%;
                background: linear-gradient(to top,rgba(74,25,9,.95) 40%,rgba(74,25,9,0) 100%)
            }

            .sceneLayers__foreground--reshapingGenreSection[_ngcontent-cif-c75] {
                width: auto;
                left: 50%;
                transform: translate(-50%,-10%) scale(1.2)
            }

            .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                object-position: center bottom
            }

            .sceneLayers__foreground__img--reshapingGenreSection[_ngcontent-cif-c75] {
                object-position: center
            }

            .reshapingGenreSection__textContent[_ngcontent-cif-c75] {
                max-width: 710px;
                margin-right: auto;
                margin-left: auto
            }

            @media only screen and (min-width: 960px) {
                .sceneLayers--reshapingGenreSection[_ngcontent-cif-c75]:before {
                    content:"";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 10%;
                    background: linear-gradient(to bottom,rgba(74,25,9,.7) 0%,rgba(74,25,9,0) 90%)
                }

                .sceneLayers--reshapingGenreSection[_ngcontent-cif-c75]:after {
                    z-index: 2;
                    height: 100%;
                    right: auto;
                    width: 60%;
                    background: linear-gradient(to right,#310504 0%,#491309 50%,rgba(73,19,9,0) 100%)
                }

                .sceneLayers__foreground--reshapingGenreSection[_ngcontent-cif-c75] {
                    left: auto;
                    right: 10%;
                    transform: scale(1.3)
                }

                .sceneLayers__foreground__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    margin-left: auto
                }

                .reshapingGenreSection__textContent[_ngcontent-cif-c75] {
                    text-align: left;
                    margin-left: 80px;
                    padding-bottom: 160px;
                    padding-top: 160px
                }

                .blockQuote--reshapingGenreSection[_ngcontent-cif-c75] {
                    margin-left: -96px
                }
            }

            @media only screen and (min-width: 960px) {
                .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    transform:translate(17%)
                }
            }

            @media only screen and (min-width: 1000px) {
                .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    transform:translate(19%)
                }
            }

            @media only screen and (min-width: 1030px) {
                .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    transform:translate(21%)
                }
            }

            @media only screen and (min-width: 1050px) {
                .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    transform:translate(23%)
                }
            }

            @media only screen and (min-width: 1200px) {
                .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    transform:translate(25%)
                }
            }

            @media only screen and (min-width: 1400px) {
                .sceneLayers__background__img--reshapingGenreSection[_ngcontent-cif-c75] {
                    transform:translate(30%)
                }
            }

            @media only screen and (min-width: 1400px) {
                .reshapingGenreSection__textContent[_ngcontent-cif-c75] {
                    margin-left:auto;
                    margin-right: 50%
                }

                .blockQuote--reshapingGenreSection[_ngcontent-cif-c75] {
                    margin-left: 0
                }

                .sceneLayers__foreground--reshapingGenreSection[_ngcontent-cif-c75] {
                    right: 15%
                }
            }

            .freeToPlaySection[_ngcontent-cif-c75] {
                position: relative
            }

            .freeToPlaySection[_ngcontent-cif-c75]:after {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                right: 0;
                height: 90%;
                background: linear-gradient(to top,rgba(23,38,78,.95) 40%,rgba(23,38,78,0) 100%)
            }

            .sceneLayers--freeToPlaySection[_ngcontent-cif-c75] {
                z-index: 0;
                overflow: hidden;
                top: -64px;
                height: auto;
                bottom: 0
            }

            .sceneLayers__background--freeToPlaySection[_ngcontent-cif-c75] {
                margin-top: 66px
            }

            .sceneLayers__background__img--freeToPlaySection[_ngcontent-cif-c75] {
                object-position: center top
            }

            .sceneLayers__foreground__img--freeToPlaySection[_ngcontent-cif-c75] {
                width: 100%;
                height: 80%;
                object-position: center top
            }

            .blockQuote--freeToPlaySection[_ngcontent-cif-c75] {
                box-shadow: -4px 4px 8px #0a0a0a80;
                padding-left: 60px
            }

            .blockQuote--freeToPlaySection[_ngcontent-cif-c75] .blockQuote__sideBar[_ngcontent-cif-c75] {
                right: auto;
                left: 0;
                border-left: none;
                border-right: 1px solid #0a0a0a
            }

            .blockQuote--freeToPlaySection[_ngcontent-cif-c75] .blockQuote__quoteMarks[_ngcontent-cif-c75]:before {
                left: 20px
            }

            .blockQuote--freeToPlaySection[_ngcontent-cif-c75] .blockQuote__quoteMarks[_ngcontent-cif-c75]:after {
                right: 12px
            }

            .freeToPlaySection__textContent[_ngcontent-cif-c75] {
                max-width: 710px;
                margin-right: auto;
                margin-left: auto;
                padding-bottom: 76px
            }

            @media only screen and (min-width: 960px) {
                .freeToPlaySection[_ngcontent-cif-c75]:after {
                    content:none
                }

                .freeToPlaySection__textContent[_ngcontent-cif-c75] {
                    text-align: left;
                    margin-right: 0;
                    padding: 88px 40px 88px 0
                }

                .sceneLayers__foreground__img--freeToPlaySection[_ngcontent-cif-c75] {
                    width: 50%;
                    height: 100%;
                    object-position: right top;
                    transform: translate(-15%)
                }

                .blockQuote--freeToPlaySection[_ngcontent-cif-c75] {
                    margin-right: -40px;
                    margin-left: auto;
                    max-width: 95%
                }
            }

            @media only screen and (min-width: 1400px) {
                .freeToPlaySection__textContent[_ngcontent-cif-c75] {
                    max-width:710px;
                    text-align: left;
                    margin-left: 50%;
                    padding: 88px 40px 88px 0
                }

                .blockQuote--freeToPlaySection[_ngcontent-cif-c75] {
                    margin-right: 0;
                    margin-left: 0;
                    max-width: 100%
                }
            }

            .whatTheyreSayingSection[_ngcontent-cif-c75] {
                position: relative;
                display: flex;
                flex-direction: column
            }

            .whatTheyreSayingSection[_ngcontent-cif-c75]:after {
                content: "";
                position: absolute;
                z-index: 4;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                background: linear-gradient(to top,rgba(10,10,10,.96) 40%,rgba(10,10,10,0) 100%)
            }

            .sceneLayers--whatTheyreSayingSection[_ngcontent-cif-c75] {
                z-index: 3;
                overflow: hidden;
                top: -64px;
                height: auto;
                bottom: 0
            }

            .sceneLayers__background--whatTheyreSayingSection[_ngcontent-cif-c75] {
                margin-top: 67.2px;
                height: calc(100% - 67.2px)
            }

            .sceneLayers__background__img--whatTheyreSayingSection[_ngcontent-cif-c75] {
                position: absolute;
                width: 150%;
                left: 50%;
                transform: translate(-50%);
                object-position: center bottom
            }

            .sceneLayers__foreground__img--whatTheyreSayingSection[_ngcontent-cif-c75] {
                width: 100%;
                object-position: center top
            }

            .whatTheyreSayingSection__textContent[_ngcontent-cif-c75] {
                z-index: 5;
                padding-top: 240px;
                padding-bottom: 0
            }

            .whatTheyreSayingSection__textContent__logos[_ngcontent-cif-c75] {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                padding: 0 40px;
                max-width: 460px;
                margin-left: auto;
                margin-right: auto
            }

            .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75] {
                width: 40%;
                margin-bottom: 32px;
                display: flex;
                align-items: center
            }

            .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(1) {
                width: 36%
            }

            .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(4) {
                width: 45%
            }

            .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(5) {
                width: 30%
            }

            .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(6) {
                width: 35%
            }

            .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75] > img[_ngcontent-cif-c75] {
                display: block;
                width: 100%
            }

            .whatTheyreSayingSection__carouselContainer[_ngcontent-cif-c75] {
                position: relative;
                z-index: 5;
                padding: 0 16px;
                max-width: 530px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 80px
            }

            .whatTheyreSayingSection__carousel[_ngcontent-cif-c75] {
                width: 100%;
                position: relative
            }

            .whatTheyreSayingSection__carousel__carouselSlide[_ngcontent-cif-c75] {
                padding: 24px 28px 28px;
                display: flex;
                flex-direction: column;
                position: relative
            }

            .whatTheyreSayingSection__carousel__carouselSlide[_ngcontent-cif-c75]:before {
                content: "";
                position: absolute;
                top: 6px;
                left: 0;
                right: 6px;
                bottom: 0;
                background: rgba(10,10,10,.8)
            }

            .whatTheyreSayingSection__carousel__carouselSlide[_ngcontent-cif-c75]:after {
                content: "";
                border: 2px solid;
                border-image-source: linear-gradient(to bottom,#FFFDF0 0%,#FBEBC1 14%,#E6C675 25%,#F6DF6E 40%,#B27E18 60%,#DEAB61 73%,#A67B4B 85%,#664320 100%);
                border-image-slice: 1;
                position: absolute;
                top: 0;
                left: 6px;
                right: 0;
                bottom: 6px
            }

            .whatTheyreSayingSection__carousel__carouselSlide[_ngcontent-cif-c75] > *[_ngcontent-cif-c75] {
                position: relative;
                z-index: 1
            }

            .carouselSlide__divider[_ngcontent-cif-c75] {
                width: 200px;
                margin: 20px auto
            }

            .carouselSlide__cite[_ngcontent-cif-c75] {
                white-space: nowrap
            }

            .carouselSlide__cite__img[_ngcontent-cif-c75] {
                display: inline-block;
                vertical-align: top;
                margin-top: -8px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 8px
            }

            .whatTheyreSayingSection__carouselContainer__navButtons[_ngcontent-cif-c75] {
                display: flex;
                justify-content: center
            }

            .whatTheyreSayingSection__carouselContainer__navButtons__button[_ngcontent-cif-c75] {
                border: none;
                background: rgba(246,246,246,.5);
                height: 4px;
                width: 48px;
                margin-right: 8px
            }

            .whatTheyreSayingSection__carouselContainer__navButtons__button--active[_ngcontent-cif-c75] {
                background: linear-gradient(to bottom,#FFF2D8 0%,#C6A052 100%)
            }

            @media only screen and (min-width: 960px) {
                .whatTheyreSayingSection[_ngcontent-cif-c75] {
                    flex-direction:row;
                    align-items: center
                }

                .whatTheyreSayingSection[_ngcontent-cif-c75]:after {
                    height: 100%;
                    background: linear-gradient(to top,rgba(10,10,10,.9) 10%,rgba(10,10,10,0) 100%)
                }

                .sceneLayers__background--whatTheyreSayingSection[_ngcontent-cif-c75] {
                    overflow: hidden;
                    position: relative
                }

                .sceneLayers__background__img--whatTheyreSayingSection[_ngcontent-cif-c75] {
                    height: 125%;
                    transform: translate(-50%);
                    bottom: 0;
                    object-position: center bottom;
                    opacity: .85
                }

                .sceneLayers__foreground__img--whatTheyreSayingSection[_ngcontent-cif-c75] {
                    width: 50%;
                    margin-left: auto;
                    object-position: center top;
                    transform: translate(15%)
                }

                .whatTheyreSayingSection__textContent[_ngcontent-cif-c75] {
                    padding-top: 80px;
                    padding-bottom: 80px;
                    padding-right: 0;
                    margin-left: auto
                }

                .whatTheyreSayingSection__textContent__heading[_ngcontent-cif-c75] {
                    text-align: left
                }

                .whatTheyreSayingSection__textContent__logos[_ngcontent-cif-c75] {
                    padding-left: 40px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 80px
                }

                .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75] {
                    width: 100%;
                    align-self: center
                }

                .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(1) {
                    width: 85%
                }

                .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(4) {
                    width: 120%
                }

                .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(5) {
                    width: 75%
                }

                .whatTheyreSayingSection__textContent__logos__imgWrapper[_ngcontent-cif-c75]:nth-child(6) {
                    width: 85%
                }

                .whatTheyreSayingSection__carouselContainer[_ngcontent-cif-c75] {
                    margin-left: 40px;
                    margin-right: auto;
                    margin-bottom: 0
                }
            }

            .theFutureAwaits[_ngcontent-cif-c75] {
                position: relative;
                z-index: 5;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-top: 1px solid #0a0a0a;
                border-bottom: 1px solid #0a0a0a;
                box-shadow: 0 0 0 4px #c6a052;
                padding: 0 16px
            }

            .theFutureAwaits__background[_ngcontent-cif-c75] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%
            }

            .theFutureAwaits__background[_ngcontent-cif-c75]:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: linear-gradient(to top,rgba(10,10,10,0) 0%,rgba(10,10,10,.8) 50%,rgba(10,10,10,0) 100%)
            }

            .theFutureAwaits__background__img[_ngcontent-cif-c75] {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center
            }

            .theFutureAwaits__textContent[_ngcontent-cif-c75] {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 610px
            }

            .theFutureAwaits__textContent__cta[_ngcontent-cif-c75] {
                margin-top: 24px
            }

            .theFutureAwaits__textContent__heading[_ngcontent-cif-c75] {
                display: flex;
                justify-content: center;
                align-items: center
            }

            .theFutureAwaits__textContent__heading__diamond[_ngcontent-cif-c75] {
                padding: 4px;
                box-shadow: inset 0 0 0 1.5px #c6a052;
                border-radius: 2px;
                display: flex;
                transform: rotate(-45deg)
            }

            .theFutureAwaits__textContent__heading__diamond[_ngcontent-cif-c75]:before {
                content: "";
                width: 12px;
                height: 12px;
                background: #c6a052;
                border-radius: 2px
            }
       
        
            [_nghost-cif-c74] {
                display: flex;
                flex-flow: column nowrap
            }

            .bannerHeadings[_ngcontent-cif-c74] {
                position: relative;
                max-width: 690px;
                padding: 0 24px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: auto;
                display: flex;
                flex-direction: column;
                align-items: center
            }

            .bannerHeadings__guLogo[_ngcontent-cif-c74] {
                max-width: 400px;
                min-width: 290px;
                width: 90%
            }

            .bannerHeadings__largeHeading[_ngcontent-cif-c74] {
                text-shadow: 0px 4px 12px rgba(10,10,10,.6)
            }

            .bannerHeadings__downArrow[_ngcontent-cif-c74] {
                display: block;
                width: 245px;
                cursor: pointer
            }

            .bannerHeadings__cta[_ngcontent-cif-c74] {
                min-width: 270px
            }
             [_nghost-cif-c73] {
                display: block
            }
       