<style>
            [_nghost-cif-c68] {
                display: flex;
                flex-direction: column;
                position: relative
            }

            .captchaContainer[_ngcontent-cif-c68] {
                user-select: none;
                pointer-events: none;
                position: absolute;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%)
            }

            .showDiv[_ngcontent-cif-c68] {
                opacity: 1;
                user-select: auto;
                pointer-events: auto
            }

            .hideDiv[_ngcontent-cif-c68] {
                opacity: 0;
                user-select: none;
                pointer-events: none
            }

            .content[_ngcontent-cif-c68] {
                width: 100%;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center
            }

            .background__picture[_ngcontent-cif-c68] {
                align-items: center;
                bottom: 0;
                display: flex;
                justify-content: center;
                left: 0;
                overflow: hidden;
                position: absolute;
                right: 0;
                top: 0
            }

            .background__picture__img[_ngcontent-cif-c68] {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top
            }

            .logo__picture__img[_ngcontent-cif-c68] {
                margin: 40px 0
            }

            .startDownloadBtn[_ngcontent-cif-c68] {
                position: absolute;
                width: 176px;
                height: 36px;
                right: 20px;
                top: 20px;
                background: #1d2f41;
                border: 1px solid #3d5a74;
                box-sizing: border-box;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                cursor: pointer
            }

            @media only screen and (max-width: 768px) {
                .startDownloadBtn[_ngcontent-cif-c68] {
                    display:none
                }
            }

            .startDownloadBtn__text[_ngcontent-cif-c68] {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #7192b0;
                text-shadow: 0px 1px 1px rgba(0,0,0,.3);
                margin: 5px
            }

            .registerDialog[_ngcontent-cif-c68] {
                width: 60vw;
                display: flex;
                flex-direction: column;
                background: #0f1b27;
                border: 2px solid rgba(61,90,116,.5);
                box-sizing: border-box;
                box-shadow: 5px 5px 15px #0006;
                margin-bottom: 75px;
                max-width: 600px
            }

            @media only screen and (max-width: 768px) {
                .registerDialog[_ngcontent-cif-c68] {
                    width:395px
                }
            }

            input[_ngcontent-cif-c68]:-webkit-autofill, input[_ngcontent-cif-c68]:-webkit-autofill:hover, input[_ngcontent-cif-c68]:-webkit-autofill:focus, input[_ngcontent-cif-c68]:-webkit-autofill:active {
                box-shadow: 0 0 0 30px #0f1b27 inset!important;
                -webkit-text-fill-color: #f6f6f6!important
            }

            [_ngcontent-cif-c68]::placeholder {
                color: #979797!important;
                font-size: 14px
            }

            .formSection[_ngcontent-cif-c68] {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 20%;
                width: 100%;
                padding-bottom: 10px
            }

            .formSection__entry[_ngcontent-cif-c68] {
                display: flex;
                flex-direction: column;
                padding: 0 50px
            }

            .formSection__entry__inline[_ngcontent-cif-c68] {
                display: flex;
                padding: 0 50px
            }

            .formSection__entry__infoText[_ngcontent-cif-c68] {
                padding-bottom: 5px;
                margin-bottom: 0;
                display: block;
                font-size: 16px;
                font-weight: 600
            }

            .formSection__entry__inputBox[_ngcontent-cif-c68] input[type=text][_ngcontent-cif-c68], input[type=password][_ngcontent-cif-c68] {
                background: #0f1b27;
                font-size: 16px;
                outline: none;
                color: #f6f6f6;
                padding: 5px;
                border: none;
                width: 100%
            }

            .formSection__entry__inputBox[_ngcontent-cif-c68] input[type=text][_ngcontent-cif-c68]::-webkit-input-placeholder, input[type=password][_ngcontent-cif-c68]::-webkit-input-placeholder {
                color: #527493
            }

            .formSection__entry__inputBox__helpText[_ngcontent-cif-c68] {
                color: #ff8b01
            }

            .formSection__entry__inputBox[_ngcontent-cif-c68] {
                position: relative;
                font-size: 16px;
                outline: none;
                background: #0f1b27
            }

            .formSection__entry__inputBox[_ngcontent-cif-c68]::-webkit-input-placeholder {
                color: #527493
            }

            .formSection__entry__inputBox__error[_ngcontent-cif-c68] {
                border: 1px solid red
            }

            .formSection__entry__subText[_ngcontent-cif-c68] {
                padding-top: 6px;
                margin-bottom: 0;
                font-size: 12px;
                color: #979797;
                font-style: italic
            }

            .formSection__infoText[_ngcontent-cif-c68] {
                text-align: left;
                padding: 0 50px
            }

            .formSection__entry__checkbox[_ngcontent-cif-c68] {
                color: #f6f6f6
            }

            .registerDialog__submitButton[_ngcontent-cif-c68] {
                margin: 10px auto 30px;
                padding: 0 40px
            }

            .registerDialog__signInButton[_ngcontent-cif-c68] {
                margin: 10px auto 30px;
                padding: 0 60px
            }

            .registerDialog__divider[_ngcontent-cif-c68] {
                border: 1px solid #1d2f41
            }

            .email__picture[_ngcontent-cif-c68] {
                margin: auto;
                padding: 30px
            }
      
      
            .formSection[_ngcontent-cif-c66] {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 20%;
                width: 100%;
                padding-bottom: 10px
            }

            .formSection__entry[_ngcontent-cif-c66] {
                display: flex;
                flex-direction: column;
                padding: 0 50px
            }

            .formSection__entry__infoText[_ngcontent-cif-c66] {
                padding-bottom: 5px;
                margin-bottom: 0;
                display: block;
                font-size: 16px;
                font-weight: 600
            }

            .formSection__entry__inputBox[_ngcontent-cif-c66] {
                position: relative;
                font-size: 16px;
                outline: none;
                background: #0f1b27;
                color: #527493;
                border: 1px solid #527493;
                padding: 5px
            }

            .formSection__entry__inputBox[_ngcontent-cif-c66]::-webkit-input-placeholder {
                color: #527493
            }

            .formSection__entry__inputBox__error[_ngcontent-cif-c66] {
                border: 2px solid #ff8b01;
                box-sizing: border-box
            }

            .formSection__entry__inputBox__error__password[_ngcontent-cif-c66] {
                border: 2px solid #ff8b01;
                box-sizing: border-box
            }

            .formSection__entry__inputBox__error[_ngcontent-cif-c66]:after {
                font-family: "gu-cons";
                color: #ff8b01;
                position: absolute;
                font-size: 20px;
                right: 10px;
                content: "alert_triangle"
            }

            .formSection__entry__inputBox__helpText__info[_ngcontent-cif-c66] {
                color: #979797
            }

            .formSection__entry__inputBox__helpText__error[_ngcontent-cif-c66] {
                color: #ff8b01
            }

            .formSection__entry__inputBox__success[_ngcontent-cif-c66] {
                border: 2px solid #8be1e0;
                box-sizing: border-box
            }

            .formSection__entry__inputBox__success__password[_ngcontent-cif-c66] {
                border: 2px solid #8be1e0;
                box-sizing: border-box
            }

            .formSection__entry__inputBox__success[_ngcontent-cif-c66]:after {
                font-family: "gu-cons";
                color: #8be1e0;
                position: absolute;
                font-size: 20px;
                right: 10px;
                content: "checkbox_tick"
            }

            .formSection__entry__subText[_ngcontent-cif-c66] {
                padding-top: 6px;
                margin-bottom: 0;
                font-size: 12px;
                color: #979797;
                font-style: italic
            }

            .formSection__infoText[_ngcontent-cif-c66] {
                text-align: left;
                padding: 0 50px
            }

            .formSection__entry__inputBox__showPassword[_ngcontent-cif-c66] {
                position: absolute;
                right: 10px;
                top: 7px;
                font-size: 22px;
                cursor: pointer
            }
      
      
            [_nghost-cif-c67] {
                display: flex;
                position: relative;
                min-height: calc(var(--vh) * 2.5)
            }

            [_nghost-cif-c67]:hover .checkmark[_ngcontent-cif-c67] {
                border-width: calc(var(--vh) * .3);
                border-style: solid
            }

            .text--large[_nghost-cif-c67] .checkmark[_ngcontent-cif-c67] {
                height: calc(var(--vh) * 3);
                width: calc(var(--vh) * 3)
            }

            .text--large[_nghost-cif-c67] .checkmark[_ngcontent-cif-c67]:after {
                font-size: calc(calc(var(--vh) * 3) * .6)
            }

            .textPlacement--left[_nghost-cif-c67] .checkboxLabel[_ngcontent-cif-c67] {
                padding-left: 15px;
                order: 2
            }

            .textPlacement--left[_nghost-cif-c67] .checkmark[_ngcontent-cif-c67] {
                order: 1
            }

            .textPlacement--right[_nghost-cif-c67] .checkboxLabel[_ngcontent-cif-c67] {
                padding-right: 15px;
                order: 1
            }

            .textPlacement--right[_nghost-cif-c67] .checkmark[_ngcontent-cif-c67] {
                order: 2
            }

            .checkmark[_ngcontent-cif-c67] {
                width: calc(var(--vh) * 2.5);
                height: calc(var(--vh) * 2.5);
                border: 2px solid #3d5a74;
                display: flex;
                flex-shrink: 0
            }

            .checkmark[_ngcontent-cif-c67]:after {
                margin: auto;
                text-align: center;
                font-family: "gu-cons";
                content: "checkbox_tick";
                font-size: calc(calc(var(--vh) * 2.5) * .6);
                display: none
            }

            input[_ngcontent-cif-c67] {
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                display: block
            }

            input[_ngcontent-cif-c67]:checked ~ .checkmark[_ngcontent-cif-c67] {
                border-width: calc(var(--vh) * .3);
                border-style: solid
            }

            input[_ngcontent-cif-c67]:checked ~ .checkmark[_ngcontent-cif-c67]:after {
                display: block;
                line-height: 0
            }

            .checkboxLabel[_ngcontent-cif-c67] {
                cursor: pointer;
                margin: auto 0;
                font-weight: 400;
                padding: 0;
                flex: 1
            }

            .checkboxLabel[_ngcontent-cif-c67] a {
                text-decoration: underline
            }
      